html, *{
    box-sizing: border-box;
    scroll-behavior: smooth;
}


#main-doc {
    padding: 10px;
    color: #4d4e53;
}

#navbar {
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar header {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 180px;
    width: 70%;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    background-color: #e4e0e0;
    border-radius: 80px;
    box-shadow: 4px 4px 4px 4px;
}

.nav-link {
    text-decoration: none;
    color: blueviolet;
}

.main-section {
    font-family: sans-serif;
    padding-bottom: 10px;
}

.main-section header {
    font-size: 22px;
    color: black;
    
}

.main-section p {
    padding-left: 60px;
}
 
.code {
    background-color: #e4e0e0;
    border-radius: 20px;
    font-size: 15px; 
    margin-left: 60px;
}

code {
    display: block;
}


ol > li {
    font-size: 15px;
    color: rgb(48, 47, 47);
    padding-bottom: 10px;
}

li span {
    font-size: 18px;
    color: rgb(49, 47, 47);
}

hr {
    height: 3px;
    border: 0;
    border-radius: 30px;
    background-color: rgb(97, 96, 96);
}

@media (min-width: 800px) {
    .links {
        width: 600px;
        height: 300px;
        padding-bottom: 20px;
    }
}

@media (max-width: 650px) {
    .links {
        height: 180px;
        width: 90%;
    }
    #navbar {
       height: 310px;
    }
}

@media (max-width: 850px) {
    .code {
        width: 750px;
        margin-left: 0;
    }
}

